@media (min-width: 320px) {
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 1200px;
    }
}
@media (min-width: 1600px) {
    .container {
        width: 1440px;
    }
}
