@charset "UTF-8";

/* CSS Document */

body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #37474F;
    background-color: #FFFFFF;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul.list-bullet li {
    list-style: disc;
}

li {
    margin: 0 0 10px;
}

.name {
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
}

.banner {
    background-color: #515769;
    padding: 100px 0;
    color: #ffffff
}

.connect-icons {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
}

.connect-icons:hover {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #37474F;
    background: #ffffff;
}

.cv-download {
    margin: 20px 0px;
    border-radius: 2px;
    border: 1px solid #17bed2;
    color: #17bed2;
    background-color: #ffffff;
}

.cv-download:hover,
.cv-download:active,
.cv-download.active,
.cv-download.active:hover,
.cv-download:focus,
.cv-download.focus {
    background-color: #17bed2;
    color: #ffffff;
    border: 1px solid #17bed2;
}

.section-title {
    font-size: 21px;
    font-weight: 700;
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    color: #263238;
    line-height: 35px;
}

.section-container {
    margin-bottom: 40px;
}

.section-body .row {
    margin-bottom: 30px;
}

.highlight-bar {
    height: 5px;
    width: 100px;
    background: #17bed2;
    position: absolute;
}

.content-title {
    font-weight: 700;
    font-size: 16px;
}

.content-body {
    margin-top: 10px;
}

footer {
    margin-top: 100px;
    padding: 50px 0px;
    background-color: #eeeeee;
    border-top: 1px solid #dddddd;
    font-size: 12px;
    color: #999999;
}

@media (min-width: 320px) {}

@media (min-width: 480px) {}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1440px;
    }
}